.search {
  display: flex;
  background-color: red;
  height: 50px;
  padding: 1rem;
  justify-content: center;

  > input {
    width: 350px;
    border-radius: 5px;
    border: 0.1px;
    font-size: 30px
  }
}

.products {
  display: flex;
  flex-wrap: wrap;
  gap: 7rem;
  justify-content: center;
  padding: 3rem;
  align-items: center;
  max-width: 1200px;
  margin: 0 auto;
  box-sizing: border-box;
}

@media (max-width: 768px) {
  :host {
    gap: 3rem;
    padding: 1.5rem;
  }
}
