<div class="search">
  <input #filter (input)="updateFilter(filter.value)">
</div>
<div class="favorites">
  <p>{{ favoriteMessage }}</p>
  @for (product of $favorites();track product.id) {
    <img [src]="product.image" kendoCardMedia alt="cover_img"/>
  }
  <h2 (click)="clearFavorites()">🗑</h2>
</div>
<div class="products">
  @for (product of $products();track product.id) {
    <kendo-card width="360px"
                style="cursor: pointer">
      <img [src]="product.image" kendoCardMedia alt="cover_img" [routerLink]="['/products/', product.id]"/>

      <kendo-card-body>
        <h4>{{ product.title }}</h4>
      </kendo-card-body>
      <kendo-card-footer class="k-hstack">
        <span>Price {{ product.price | currency }}</span>
        <span (click)="addFavorite(product)">❤</span>
      </kendo-card-footer>
    </kendo-card>
  } @empty {
    <h2> No products! 😌</h2>
  }
</div>

